
{% extends "base.html" %}
{% block title %} create comment {% endblock%}

{% block content %}

<h1 class="container lead my-4">create comment..</h1>

<div class="container">
    <form class="card p-3" method="POST" enctype="multipart/form-data">
        <div class="card-header">
            <sub>comment form</sub>
        </div>
        <div class="card-body">
            <textarea
                class="form-control"
                name="opinion_expressed"
                rows="3"></textarea>
        </div>
        <div class="card-footer">
        <button type="submit" class="btn btn-outline-primary btn-sm">
            submit
        </button>
        </div>
    </form>
</div>

{% endblock %}