
{% extends "base.html" %}
{% block title %} item list {% endblock %}

{% block content %}

<h1 class="container display-6 my-4">item list..</h1>
<div class="container flex_start mb-4">

    {% if obj_list %}
    {% for obj in obj_list %}
    <div class="card mt-2 me-1">

        <div class="card-header">
            <h2 class="lead">{{ obj.title }}</h2>
        </div>
        <div class="card-header">
            <sub>item id: {{ obj.id }}</sub>
            <h2 class="lead"><sub>owner item id: </sub>{{ obj.owner_item_id }}</h2>
        </div>

        <div class="card-body">
            <p class="card-text">
                {{ obj.description | striptags() | truncate(190, True, '...', 5) | safe }}
            </p>
        </div>

        <div class="card-footer">
            <a class="btn btn-outline-primary btn-sm" href="/item-detail/{{ obj.id }}">
                read more
            </a>
        </div>

</div>
{% endfor %}

    {% else %}
    <h6>no information available</h6>

{% endif %}

</div>

{% endblock %}