{% extends "base.html" %}
{% block title %} update {{ obj.email }} {% endblock%}

{% block content %}

<h1 class="container lead my-4">update user</h1>

    <div class="container">
        <div class="row my-5">
            <form method="POST">
                <div class="mb-3">
                    <input
                        type="text"
                        placeholder="name"
                        name="name"
                        value="{{ obj.name }}"
                        class="form-control"
                    />
                </div>
                <div class="mb-3">
                    <label>password</label>
                    <input
                        type="password"
                        placeholder="password"
                        value="{{ obj.password }}"
                        name="password"
                        class="form-control"
                    />
                </div>

                <button type="submit" class="btn btn-outline-primary btn-sm">
                    submit
                </button>
            </form>
        </div>
    </div>

{% endblock %}
